<h1>Welcome to my first rails app!</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if @product %>
<h1>Último produto cadastrado:</h1>
<%= @product.name %><br />
<%= @product.price %><br />

<h2>
  Soma dos produtos
</h2>>
<%= Product.all.map(&:price).sum %> <!-- OU:  Product.all.map(|p| p.price).sum --> 

<h2>
  Nome dos produtos
</h2>
<%= raw (Product.all.map{|n|  link_to n.name, edit_product_path(n)}.join(" | ") ) %> <!-- OU:  Product.all.map(|n| n.name) -->
<% end %>

<h1>COMPRA</h1>
<h2><i>PRODUTO:</i> <%= @produto_encontrado && @produto_encontrado.name || 'Produto não encontrado' %></h2>
<h2><i>TOTAL A PAGAR:</i> <%= @valor_total %></h2>

