<!DOCTYPE html>
<html>
<head>
  <title>MyFirstRailsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Home', root_path %>
<%= link_to 'Product register', products_path %>
<%= link_to 'About', controller: 'home', action: 'about' %>
<hr/>
<%= yield %>

</body>
</html>
